<div class="mt-3 container">
    <h2 class="animated fadeIn fast">Sobre Comic App</h2>
    <hr>
    <p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quia sunt minus veritatis eveniet quis nihil officiis aperiam blanditiis
        ipsum sit tempora quae pariatur dolorem, dicta recusandae ducimus asperiores
        temporibus itaque ad ipsam libero dolorum deserunt voluptatem omnis.
        Mollitia voluptates unde nesciunt tempore obcaecati, hic saepe, dolor a non,
        eaque veniam ducimus repudiandae officia maxime doloremque.
        Quod, ex aspernatur odit deserunt accusantium perspiciatis vero alias
        repellendus distinctio modi sapiente veniam in nihil quae dolorem reprehenderit quam.
        Iste corporis atque unde tempora, eius, ab totam deserunt accusamus,
        ex eligendi error ea.
        Quisquam inventore expedita praesentium nulla tempora esse fuga voluptatum corporis iusto.
    </p>
</div>